*{
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

/* Common styles */
.btn-explore{
    width: 180px;
    height: 64px;
    left: 870px;
    top: 463px;
    background: #FF900E;
    border-radius: 8px;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
}
.section-details{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    margin-bottom: 25px;
}
.title-common{
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

/* Navbar styles */
header{
    background: rgba(255, 144, 14, 0.1);
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 50px 7%;
}
.nav-title{
    font-weight: 700;
    font-size: 45px;
    text-align: center;
    color: #131313;
}
nav ul{
    display: flex;
    gap: 25%;
    justify-content: flex-end;
}
nav li{
    list-style: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #424242;
}

/* Banner styles */
.banner{
    text-align: center;
    padding: 25px 7%;
}
.banner-info{
    padding: 0 20%;
}
.banner-title{
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    color: #131313;
    margin-bottom: 34px;    
}
.banner img{
    width: 100%;
    margin-top: 50px;
}

/* Quick features section styles */
.quicklist{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7%;
    margin: 100px 15%;
    /* display: grid;
    grid-template-columns: repeat(2, 1fr); */
}
.tiles{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2.5%;
}
.tiles img{
    border-radius: 8px
}
.tile-title{
    font-weight: 500;
    font-size: 45px;
    color: #727272;
}
.tile-title span{
    font-weight: 700;
}
#tile-title1{
    color: #131313;
}
#tile-title2{
    color: #FF900E;
}

/* Features you will love section styles */
.features{
    display: flex;
    justify-content: center;
    margin: 25px 7%;
    gap: 10%;
}
.features .title-common{
    border-left: 5px solid #FF900E;
    padding-left: 21px;
    /* width: 5px;
    height: 106px;
    left: 240px;
    top: 2284px;
    background: #FF900E; */
}
.feature-info{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.feature-details{
    padding: 25px;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    margin-bottom: 20px;
}
.feature-details h3{
    font-weight: 600;
    font-size: 20px;
    color: #131313;
}
.feature-image{
    position: relative;
    display: flex;
    justify-content: space-evenly;
}
.feature-image img{
    width: 100%;
}
.btn-experience{
    /* position button on image */
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateX(-30%) translateY(25%);

    /* other button properties */
    width: 342px;
    height: 200px;
    background: #FF900E;
    border-radius: 8px;
    text-align: center;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 65px;
    line-height: 0.75;
}
.btn-experience span{
    font-weight: 500;
    font-size: 25px;
}